@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h1>Add a new doctor</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select Specialty")
  @Html.DropDownList("SpecialtyId")

  <input type="submit" value="Add New Doctor"/>
}

<p>@Html.ActionLink("View Doctors", "Index")</p>