@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h1>Add a new doctor</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  <input type="submit" value="Add new doctor"/>
}

<p>@Html.ActionLink("View doctors", "Index")</p>