@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Add a doctor to this specialty</h2>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.SpecialtyId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Specialty", "Details", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>