@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Doctors with this specialty:</h2>

@if(@Model.Doctors.Count == 0)
{
  <p>This specialty doesn't have any doctors yet!</p>
}
else
{
  <ul>
  @foreach(var join in Model.Doctors)
  {
    <li>@join.Doctor.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add doctor to this specialty", "AddDoctor", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("See all specialties", "Index")</p>
<p>@Html.ActionLink("See all doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>