@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h4>Add a New Doctor</h4>

@using (Html.BeginForm())
{

  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Add New Doctor" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to patient details", "Details", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>