@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h1>Edit Patient Info</h1>

<h2>Patient: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Birthday)
  @Html.TextBox("Birthday", null, new { type="date"})

  @Html.Label("Select doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("View All Patients", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>